@font-face {
  font-family: 'Poppins';
  src: url("/assets/fonts/poppins.ttf");

  font-family: 'Droid-serif';
  src: url("/assets/fonts/droid-serif.ttf");
}

body{
  background-color: #fbfbfd;
}

h1, p, h2, h3, h4, h5, h6{
  color: #333333;
}
h1, .navbar-brand{
  font-family: 'Droid-serif';
}

h1{
  font-size: 44px;
}

:root{
    --primary-btn: midnightblue;
    --primary-btn-hover: rgb(0, 0, 187);
    font-size: 1.1em;
}
.btn{
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.navbar-toggler {
    outline: none;
    border: none;
  }
  
.navbar-brand{
    font-weight: bold;
    font-family: 'Poppins';
}
.primary-color{
    color: midnightblue;
}


#hero {
  position: relative; /* Assurez-vous que la div a une position relative pour que la pseudo-classe soit positionnée correctement par rapport à celle-ci */
  background-image: url("/assets/img/background/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}

#hero::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5); /* Utilisation de la propriété background au lieu de background-color */
  z-index: 1; /* Assurez-vous que la pseudo-classe soit positionnée au-dessus du contenu de la div */
}

h1{
  font-size: 1.4em;
  color: var(--primary-btn);
}

/* media min width 750px */

@media (min-width: 750px) {
  h1{
    font-size: 3.4em;
  }
}

.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  fill: currentcolor;
  transition: transform .25s ease-in-out;
}
.icon-link:hover > .bi {
  transform: translate(.25rem);
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
}

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}

.icon-square{
    color: var(--secondary-btn);
    color: white;
}

.newsletter-subscribe{
    color: white;
    background-position: fixed;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
    width: auto;
    border-radius: 10px;
}

p{
  font-size: 1.3em;
}

@media (max-width: 768px) {
  .hero-img{
    display: none;
  }
}

